@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  font-style: 'Roboto', sans-serif;;
  text-align: center;
}
* {
  scroll-behavior: smooth;
}
.container{
  padding: 10% 15%;
}
/*#app{
  background-color: #ff7b54;
}*/
.card{
  margin-top: 40px;
}
.login-btn {
  width: 100% !important;
  margin-bottom: 8px;
  background-color: #ff7b54 !important;
}
span{
  font-size: 2rem;
}
.container-fluid {
  padding: 0% 15%;
}
.login-form{
  background: #eee;
  text-align: center !important;
  margin-top: 50px;
}
.login-link {
  text-decoration: none !important;
  margin: 13.5rem;
  font-size: 1rem;
}
hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: 'OR';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.login-with{
  text-align: center;
 padding: 20px;
}
.new-account{
  text-align: center;
}
footer{
  text-align: center;
}
.container-footer{
  width: 100%;  
  padding-top: 1rem;
}
